*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nav-width:20%;
    --primary-color: #333; /* Added a primary color variable */
    --secondary-color: #666; /* Added a secondary color variable */
    --accent-color: #000;  /*Added a accent color */
}
body{
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
}
.container-custom{
    margin: auto;
    max-width: 1800px;
    display: flex; 
}

.nav-box1{
    height: 100vh;
    width: var(--nav-width);
    background-color: whitesmoke;
}
.nav-box2{
    margin-top: -20px;
    margin-left: -12px;
    height: 100vh;
    width: var(--nav-width);
    background-color: whitesmoke;
}

.navbar-brand-2 h1{
    font-size: 40px;
    font-family: 'Playfair Display';
    font-weight: 700;
    margin-top: 20px;
    color: var(--accent-color);
}
nav p{
    font-size: 24px;
    color: var(--accent-color);
}
nav a{
    color: #000!important;
}
nav ul{
    margin-top: 20px;
}
nav li{
    margin-top: 0px;
    font-size: 24px;
}
nav a img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.nav-link.active { /*adding the scrollspy active tab under the nav tabs */
    background-color: transparent;
    border-bottom: 2px solid #bb5b5b; 
}
.nav-box2 .nav-link.active{
    background-color: transparent;
    border: none;
}
.nav-box2 a:hover{
    text-decoration: underline;
}


.main-body{
    height: 300vh;
    /* padding-left: var(--nav-width); */
    margin-left: -80px;

}

/* CAROUSEL */

.c-item-1{
    background-image: url(../assets/images/carousel1.jpg);
    height: 100vh;
    background-size:cover ;
    overflow-y: hidden;
    margin-left: 10px;
}
.c-item-2{
    background-image: url(../assets/images/carousel2.jpg);
    height: 100vh;
    background-size:cover ;
    overflow-y: hidden;
    margin-left: 10px;
}
.slide-1-content{
    position: absolute;
    bottom: 200px;
    left: 140px;
}
.slide-1-content h2{
    color: white;
    font-family: 'Playfair Display';
    font-size: 50px;
    font-weight: 900;
}
.slide-1-content button{
    margin-top: 80px;
    color: white;
    border-radius: 0;
}
.slide-2-content{
    position: absolute;
    bottom: 200px;
    left: 100px;
}
.slide-2-content h2{
    color: white;
    font-family: 'Playfair Display';
    font-size: 50px;
    font-weight: 900;
    text-shadow: 8px 6px 2px rgba(0, 0, 0, 0.23);
}


/* ABOUT */

.about-content{
    margin-left: 30px;
    padding-top: 5px;
}
.about h4{
    margin-top: 80px;
    font-weight: 400;
    letter-spacing: 4px;
    color: rgb(175, 174, 174);
    font-size: 12px;
}
.about .about-content h2{
    font-weight: 800;
    font-family: 'Playfair Display';
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 30px;
}
.about p{
    margin-top: 100px;
}
.about .card-box{
    height: 70%;
    width: 80%;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.about i{
    display: inline-block;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 30px;
}
.about .ri-bootstrap-line{
    color: rgb(212, 0, 212);
}
.about .card-box h4{
    letter-spacing: 0px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 15px;
    color: #000;
}
.card-row{
    flex-wrap: wrap!important;
}
.about .cb-1{
    border-bottom: 2px solid #0d6efd;
}
.about .cb-2{
    border-bottom: 2px solid #dc3545;
}
.about .cb-3{
    border-bottom: 2px solid #ffc107;
}
.about .cb-4{
    border-bottom: 2px solid #d400d4;
}
.about .cb-4 h4{
    margin-left: 5px;
}

/* SERVICE */

.service-content{
    margin-left: 30px;
    padding-top: 5px;
}
.service h4{
    margin-top: 80px;
    font-weight: 400;
    letter-spacing: 4px;
    color: rgb(175, 174, 174);
    font-size: 12px;
}
.service .service-content h2{
    font-weight: 800;
    font-family: 'Playfair Display';
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 30px;
}
.service p{
    margin-top: 100px;
}
.service .service-box{
    height: 350px;
    width: 270px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.service i{
    display: inline-block;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 30px;
}
.service .ri-bootstrap-line{
    color: rgb(212, 0, 212);
}
.service .service-box h4{
    letter-spacing: 0px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 15px;
    color: #000;
}
.service .cb-1{
    border-bottom: 2px solid #0d6efd;
}
.service .cb-2{
    border-bottom: 2px solid #dc3545;
}
.service .cb-3{
    border-bottom: 2px solid #ffc107;
}


/* STATS */

.sticky-bg-stats{
    background-image: linear-gradient(rgb(0, 0, 0,0.4),rgb(0, 0, 0,0.4)) , url(../assets/images/stats-img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    margin-bottom: 100px;
    margin-top: 200px;
}
.sticky-bg-stats li{
    margin-top: 100px;
}
.sticky-bg-stats h3{
    font-weight: 900;
    font-size: 40px;
}
.sticky-bg-stats p{
    font-weight: 300;
}


/* SKILLS */
.skills{
    padding-bottom: 100px;
}
.skill-content{
    margin-left: 30px;
    padding-top: 5px;
}
.skills h4{
    margin-top: 50px;
    font-weight: 400;
    letter-spacing: 4px;
    color: rgb(175, 174, 174);
    font-size: 12px;
}
.skills .skill-content h2{
    font-weight: 800;
    font-family: 'Playfair Display';
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 30px;
}
.skill p{
    margin-top: 100px;
}

.skill-progress{
    margin-left: -30px;
}
.skill-progress ul{
    list-style: none;
    margin-top: 10px;
}
.skill-progress h3{
    font-size: 20px;
    font-weight: 300;
}