*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nav-width:20%;
}
.container-custom{
    margin: auto;
    max-width: 1800px;
    display: flex; /* Add this line */
}

.nav-box{
    height: 100vh;
    width: var(--nav-width);
    background-color: #070707;
}

.navbar-brand-2 h1{
    font-size: 40px;
    font-family: 'Playfair Display';
    font-weight: 700;
    margin-top: 20px;
}
nav p{
    font-size: 24px;
}
nav a{
    color: white!important;
}
nav ul{
    margin-top: 20px;
}
nav li{
    margin-top: 0px;
    font-size: 24px;
    font-weight: 600;
}
nav li a:hover{
    text-decoration: underline;
}
nav a img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.main-body{
    flex-grow: 1; /* Add this line */
    border: 2px solid black;
    height: 300vh;
    padding-left: var(--nav-width);
    margin-left: -20px;
}
.carousel-sec{
    /* background-image: url(../assets/images/bg-img1.jpeg); */
    background-color: green;
    height: 100vh;
}