*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nav-width:20%;
    --primary-color: #333; /* Added a primary color variable */
    --secondary-color: #666; /* Added a secondary color variable */
    --accent-color: #000;  /*Added a accent color */
}
body{
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
}

/* SCROLLBAR */


body {
    --sb-track-color: #114b2c;
    --sb-thumb-color: #50d890;
    --sb-size: 14px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }


.container-custom{
    margin: auto;
    max-width: 1800px;
    display: flex; 
}

.nav-box1{
    height: 100vh;
    width: var(--nav-width);
    background-color: #50d890;
}
.nav-box2{
    margin-top: -20px;
    margin-left: -12px;
    height: 100vh;
    width: var(--nav-width);
    background-color: #50d890;
}

.navbar-brand-2 h1{
    font-size: 40px;
    font-family: 'Playfair Display';
    font-weight: 700;
    margin-top: 20px;
    color: #114B2C;
}
nav p{
    font-size: 24px;
    color: var(--accent-color);
}
nav a{
    color: #114B2C!important;
}
nav ul{
    margin-top: 20px;
}
nav li{
    margin-top: 0px;
    font-size: 24px;
}
nav mark{
    color: #114B2C!important;
}
nav a img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
nav a i{
    font-size: 30px;
}
nav .icon-ss{
    text-decoration: none;
}
.nav-link.active { /*adding the scrollspy active tab under the nav tabs */
    background-color: transparent;
    border-bottom: 2px solid #114B2C; 
}
.nav-box2 .nav-link.active{
    background-color: transparent;
    border: none;
}
.nav-box2 a:hover{
    text-decoration: underline;
}
.offcanvas{
    background-color: #50d890;
}


.main-body{
    height: 300vh;
    margin-left: -80px;
    background-color: #000000;
    color: #50d890;
}

/* CAROUSEL */

.c-item-1{
    background-image: url(../assets/images/carousel1.jpg);
    height: 100vh;
    background-size:cover ;
    overflow-y: hidden;
    margin-left: 10px;
}
.c-item-2{
    background-image: url(../assets/images/carousel2.jpg);
    height: 100vh;
    background-size:cover ;
    overflow-y: hidden;
    margin-left: 10px;
}
.slide-1-content{
    position: absolute;
    bottom: 200px;
    left: 140px;
}
.slide-1-content h2{
    color: white;
    font-family: 'Playfair Display';
    font-size: 50px;
    font-weight: 900;
}
.slide-1-content button{
    margin-top: 80px;
    color: #50d890;
    border-radius: 0;
}
.slide-2-content{
    position: absolute;
    bottom: 200px;
    left: 100px;
}
.slide-2-content h2{
    color: white;
    font-family: 'Playfair Display';
    font-size: 50px;
    font-weight: 900;
    text-shadow: 8px 6px 2px rgba(0, 0, 0, 0.23);
}


/* ABOUT */

.about-content{
    margin-left: 30px;
    padding-top: 5px;
}
.about h4{
    margin-top: 80px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #114B2C;
    font-size: 12px;
}
.about .about-content h2{
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
    color:transparent;
     text-shadow:3px 3px 0 #114B2C;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #50d890;
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 30px;
}
.about p{
    margin-top: 100px;
}
.about .card-box{
    height: 70%;
    width: 80%;
    background-color: #50d890;
    margin-top: 100px;
    box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
}
.about i{
    display: inline-block;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 30px;
}
.about .ri-bootstrap-line{
    color: rgb(212, 0, 212);
}
.about .card-box h4{
    letter-spacing: 0px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    margin-top: 25px;
    font-weight: 700;
    margin-left: 15px;
    color: #114B2C;
}
.card-row{
    flex-wrap: wrap!important;
}
.about .cb-1{
    border-bottom: 2px solid #0d6efd;
}
.about .cb-2{
    border-bottom: 2px solid #dc3545;
}
.about .cb-3{
    border-bottom: 2px solid #ffc107;
}
.about .cb-4{
    border-bottom: 2px solid #d400d4;
}
.about .cb-4 h4{
    margin-left: 5px;
}

/* SERVICE */
.service{
    background-color: black;
}
.service-content{
    margin-left: 30px;
    padding-top: 5px;
}
.service h4{
    margin-top: 80px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #114B2C;
    font-size: 12px;
}
.service .service-content h2{
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
    color:transparent;
     text-shadow:3px 3px 0 #114B2C;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #50d890;
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 30px;
}
.service p{
    margin-top: 100px;
}
.service .service-box{
    height: 350px;
    width: 270px;
    margin-top: 100px;
    background-color: #50d890;
    box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
    transition: 0.2s;
}
.service-box p{
    margin-top: 40px;
    text-align: center;
    color: #114B2C;
}
.service i{
    display: inline-block;
    font-size: 50px;
    margin-left: 15px;
    margin-top: 30px;
}
.service .ri-bootstrap-line{
    color: rgb(212, 0, 212);
}
.service .service-box h4{
    letter-spacing: 0px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    margin-top: 25px;
    font-weight: 700;
    text-align: center;
    color: #114B2C;
}
.service .cb-1{
    border-bottom: 2px solid #0d6efd;
}
.service .cb-2{
    border-bottom: 2px solid #dc3545;
}
.service .cb-3{
    border-bottom: 2px solid #ffc107;
}


/* STATS */

.stats{
    background-color: #000000;
    color: #50d890;
}
.sticky-bg-stats{
    background-image: linear-gradient(rgb(0, 0, 0,0.4),rgb(0, 0, 0,0.4)) , url(../assets/images/stats-img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    margin-bottom: 100px;
    margin-top: 20px;
}
.sticky-bg-stats li{
    margin-top: 100px;
}
.sticky-bg-stats h3{
    font-weight: 900;
    font-size: 40px;
}
.sticky-bg-stats p{
    font-weight: 300;
}


/* SKILLS */
.skills{
    padding-bottom: 100px;
}
.skill-content{
    margin-left: 30px;
    padding-top: 5px;
}
.skills h4{
    margin-top: 80px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #114B2C;
    font-size: 12px;
}
.skills .skill-content h2{
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
    color:transparent;
     text-shadow:3px 3px 0 #114B2C;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #50d890;
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 30px;
}
.skill p{
    margin-top: 100px;
}

.skill-progress{
    margin-left: -30px;
}
.skill-progress ul{
    list-style: none;
    margin-top: 10px;
}
.skill-progress h3{
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
}
.skill-progress img{
    width: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* EDUCATION */

.education-content{
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 100px;
}
.education h4{
    margin-top: 80px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #114B2C;
    font-size: 12px;
}
.education .education-content .my-quali{
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
    color:transparent;
     text-shadow:3px 3px 0 #114B2C;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #50d890;
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 30px;
}
.education .accordion-item h2{
    font-family: "Quicksand", sans-serif;
    margin-top: 30px;
}
.accordion-item , .accordion-item button{
    font-family: "Quicksand", sans-serif;
}
.accordion-item button{
    font-weight: 800;
    color:#50d890;
    background-color: #114B2C 
}


/* EXPERIENCE */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");



.container-exp {
  background: #0c0d0e;
  width: 90%;
  height: 90vh;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  margin-bottom: 200px;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);

}

.leftbox {
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background-color: #50d890;
  box-shadow: 3px 3px 15px rgba(119, 119, 119, 0.5);
}

.rightbox {
  padding-top: 50px;
  padding-bottom: 100px;
  height: 100%;
}

.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 50%;
  margin-left: 90px;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 0.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 10em;
  min-height: 50px;
  border-left: 1px dashed #fff;
  padding: 0 0 50px 30px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: #50d890;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}   

.rb-container ul.rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  color: #50d890;
  position: relative;
  width: 100px;
  font-size: 12px;
}

.item-title {
  color: #fff;
}

.container-3 {
  width: 5em;
  vertical-align: right;
  white-space: nowrap;
  position: absolute;
}

.container-3 input#search {
  width: 150px;
  height: 30px;
  background: #fbfbfb;
  border: none;
  font-size: 10pt;
  color: #262626;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0.9em 0 0 28.5em;
  box-shadow: 3px 3px 15px rgba(119, 119, 119, 0.5);
}

.container-3 .icon {
  margin: 1.3em 3em 0 31.5em;
  position: absolute;
  width: 150px;
  height: 30px;
  z-index: 1;
  color: #4f5b66;
}

input::placeholder {
  padding: 5em 5em 1em 1em;
  color: #50d890;
}


/* WORK */

.work{
    padding-bottom: 100px;
}
.work-content{
    margin-left: 30px;
    padding-top: 5px;
}
.work h4{
    margin-top: 80px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #114B2C;
    font-size: 12px;
}
.work .work-content h2{
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
    color:transparent;
     text-shadow:3px 3px 0 #114B2C;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #50d890;
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 30px;
}
.work-snapshots embed{
    width: 500px;
    height: 400px;
}


/* CONTACT */

.contact{
    padding-bottom: 100px;
}
.contact-content{
    margin-left: 30px;
    padding-top: 5px;
}
.contact h4{
    margin-top: 80px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #114B2C;
    font-size: 12px;
}
.contact .contact-content h2{
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
    color:transparent;
     text-shadow:3px 3px 0 #114B2C;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #50d890;
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 30px;
}
.contact .row{
    margin-top: 80px;
}

.contact ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact input{
    height: 55px;
    width: 350px;
    margin-top: 10px;
    background-color: #114B2C;
}
.contact textarea{
    height: 75px;
    width: 350px;
    margin-top: 10px;
    background-color: #114B2C;
}
.contact input:placeholder-shown{
    padding-left: 10px;
    color: #50d890;
}
.contact input:placeholder-shown:focus{
    color: #114B2C;
}
.contact input:focus{
    background-color: #50d890;
    color: #114B2C;
}
.contact textarea:placeholder-shown{
    padding-left: 10px;
    color: #50d890;
    padding-top: 10px;
}
.contact textarea:placeholder-shown:focus{
    color: #114B2C;
}
.contact textarea:focus{
    background-color: #50d890;
    color: #114B2C;
}
.contact a{
    color: #50d890;
} 
.contact button{
    margin-top: 10px;
    background-color: #114B2C;
    color: #50d890;
    border-radius: 0px;
    border: 0;
}
.contact button:hover{
    background-color: #50d890;
    color: #114B2C;
}
.contact-icon{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: #114B2C;
    color: #50d890;
}
.contact-icon:hover , .contact-icon i:hover{ 
    background-color: #50d890;
    color: #114B2C;
    transform: scale(1.1);
}
.contact-icon i{
    font-size: 44px;
    line-height: 100px;
}

/* EFFECTS AND TRANSITIONS */

.hover-effect-h4:hover{
    color: #50d890;
}
