/* XXL */

@media (max-width:1920px){
    .nav-box1{
        display: block;
      }
    .offcanvas-btn{
        display: none;
    }  
}

@media (max-width:1520px){

}


/* XL */

@media (max-width:1399px){
        /* NAV */
    
        .navbar-brand-2 h1{
            font-size: 30px;
            font-family: 'Playfair Display';
            font-weight: 700;
            margin-top: 20px;
        }
        nav p{
            font-size: 18px;
    }
    nav ul{
        margin-top: 10px;
    }
    nav li{
        margin-top: -5px;
        font-size: 18px;
        font-weight: 600;
    }
    nav a img{
        height: 130px;
        width: 130px;
    }
    
}

/* L */

@media (max-width:1199px){


}

/* MD */

@media (max-width:991px){
    .nav-box1{
        display: none;
      }
      .main-body{
        margin-left: -258px;
      }
      .offcanvas-btn{
        display: block;
        margin-left: 50px;
        margin-top: 20px;
      }
      .offcanvas{
        width: 20%!important;
      }  
}

/* SM */

@media (max-width:768px){

}

/* XS */

@media (max-width:576px){

}

/* XXS */

@media (max-width:410px){

}