/* XXL */

@media (max-width:1920px){
    .main-body{
        flex-grow: 1; /* Add this line */
        border: 2px solid black;
        height: 300vh;
        padding-left: 21%;
    }
}

@media (max-width:1520px){
    .main-body{
        margin-left: -19px;
    }
}


/* XL */

@media (max-width:1399px){
        /* NAV */
    
        .navbar-brand-2 h1{
            font-size: 30px;
            font-family: 'Playfair Display';
            font-weight: 700;
            margin-top: 20px;
        }
        nav p{
            font-size: 18px;
    }
    nav ul{
        margin-top: 10px;
    }
    nav li{
        margin-top: -5px;
        font-size: 18px;
        font-weight: 600;
    }
    nav a img{
        height: 130px;
        width: 130px;
    }
    
    
    .main-body{
        margin-left: -17px;
    }
}

/* L */

@media (max-width:1199px){
    

}

/* MD */

@media (max-width:991px){
    .main-body{
        margin-left: -13px;
    }
}

/* SM */

@media (max-width:768px){
    .main-body{
        margin-left: -11px;
    }
}

/* XS */

@media (max-width:576px){

}

/* XXS */

@media (max-width:410px){

}