/* XXL */

@media (max-width:1920px){
    .nav-box1{
        display: block;
      }
    .offcanvas-btn{
        display: none;
    }  
}

@media (max-width:1520px){

}


/* XL */

@media (max-width:1399px){
        /* NAV */
    
        .navbar-brand-2 h1{
            font-size: 30px;
            font-family: 'Playfair Display';
            font-weight: 700;
            margin-top: 20px;
        }
        nav p{
            font-size: 18px;
    }
    nav ul{
        margin-top: 10px;
    }
    nav li{
        margin-top: -5px;
        font-size: 18px;
        font-weight: 600;
    }
    nav a img{
        height: 130px;
        width: 130px;
    }
    
}

/* L */

@media (max-width:1199px){


}

/* MD */

@media (max-width:991px){
    
  /* NAV */

.nav-box1{
    display: none;
 }
  /* MAIN */

.main-body{
  margin-left: -258px;
}

/* OFFCANVAS */
.offcanvas-btn{
  display: block;
  position: sticky;
  top: 40px;
  left: 0;
  margin-left: 50px;
  margin-top: 20px;
  color:  #114B2C;
  background-color: #50d890!important;
}
.offcanvas{
  width: 20%!important;
}  

/* CAROUSEL */

.c-item-1{
  background-position: center;
}
.c-item-2{
  background-position: center;
}
}

/* SM */

@media (max-width:768px){
  
  /* ABOUT */
  
  .about-content{
    margin-left: 100px;
  }

  /* SERVICE */

  .service-content{
    margin-left: 100px;
  }
  .service .cb-3{
    margin-left: 55%;
}

  /* STICKY-BG */

  .sticky-bg-stats{
    margin-left: 40px;
    margin-top: 0px;
  }


  /* SKILLS */

  .skill-content-text{
    margin-left: 100px;
  }
  .skill-progress .row{
    width: 600px;
    margin-left: 150px;
  }
  .col-xs-12{
    width: 100%;
  }

  /* WORK */
  .col-xs-6{
    width: 50%;
  }
  .work button{
    margin-left: 200px
  }
  .work-content-text{
    /* max-width: 700px; */
    margin-left: 100px;
  }
  .work-snapshots embed{
    width: 725px;
    margin-left: 40px;
    margin-top: 40px;
}

  /* CONTACT */

  .contact .row{
    margin-left: 180px;
  }

  /* EDUCATION */

  .education-content-text{
    margin-left: 100px;
  }
  .accordion-header{
    background-color: black;
  }
  .accordion-item {
    max-width: 400px;
    margin-left: 200px;
  }

  /* EXPERIENCE */

  .container-exp{
    margin-left: 70px;
    height: 120vh;
  }
  

  /* CONTACT */

  .contact-content-text{
    margin-left: 100px;
  }
}

/* XS */

@media (max-width:576px){
  
  /* ABOUT  */

  .about-content{
    margin-left: 150px;
  }

  /* SERVICE */

  .service-content{
    margin-left: 150px;
  }
  .col-xxs-12{
    width: 100%;
  }
  .service .cb-1{
    margin-left: 100px;
}
.service .cb-2{
   margin-left: 100px;
}
.service .cb-3{
    margin-left: 100px;
}


  /* SKILLS */

  .skill-content-text{
    /* max-width: 450px; */
    margin-left: 150px;
  }
  .skill-progress .row{
    width: 400px;
    margin-left: 150px;
  }
  .col-xs-12{
    width: 100%;
  }

  /* EDUCATION */

  .accordion-item {
    margin-left: 150px;
  }

}

/* XXS */

@media (max-width:410px){

}